[Unit]
Description=Bitcoin daemon service
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
User=bitcoinuser
ExecStart=/usr/bin/bitcoind

[Install]
WantedBy=multi-user.target